.login {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgb(255, 255, 255, 0.5), rgb(255, 255, 255, 0.5)),
    url("https://images.pexels.com/photos/768473/pexels-photo-768473.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-size: cover;
}
.loginTitle {
  font-size: 50px;
}
.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.loginForm > label {
  margin: 10px 0;
}
.loginInput {
  padding: 10px;
  background-color: white;
  border: none;
  font-size: 16px;
}
.loginInput {
  outline-color: aliceblue;
}
.loginBtn {
  margin-top: 20px;
  cursor: pointer;
  background-color: lightcoral;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
}
.loginRegisterBtn {
  position: absolute;
  top: 60px;
  right: 20px;
  color: white;
  background-color: teal;
  border: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
}
